
body {
	margin-left: 0px;
	margin-right: 0px;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 48px;
	color: black;
	margin: 40px 0px;
}
a {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 30px;
	width: 45%;
	float: left;
	height: 80px;
}
a:link, a:visited {
	background-color: orange;
	font-family: Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 30px;
	color: black;
}
a:hover {
	background-color: darkorange;
}